<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
  </head>
  <body>
    <!-- 1. Title 
         2. Snippet of body 
         3.“Read More” button (linking to /posts/:id) -->

    <h1>Blogs</h1>
    <ul>
      <li><a href="posts/0">blog 0</a></li>
      <li><a href="posts/1">blog 1</a></li>
      <li><a href="posts/2">blog 2</a></li>
    </ul>
  </body>
</html>
