<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
  </head>
  <body>
    <!-- 1. Title 
         2. Snippet of body 
         3.“Read More” button (linking to /posts/:id) -->

    <h1>blog</h1>
    <button>New</button>
    <button>edit</button>
    <button>delete</button>
    <button>view</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nesciunt, excepturi nulla obcaecati, sequi blanditiis ipsum saepe veritatis debitis eveniet, totam ipsa eius eum ea! Enim laudantium velit expedita consectetur?</p>
  </body>
</html>
